* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}
/* nav section */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin: 20px 5%;
    padding: 12px;
}
.middleSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
 ul {
    list-style: none;
}
 ul a {
     text-decoration: none;
 }
 button {
     padding: 10px 28px;
     border-radius: 10px;
     border: none;
     background-color: #1D4ED8;
     color: white;
 }
 /* header section*/
header {
    background-image:linear-gradient( rgba(0,0,0,0.25), rgba(0,0,0,0.3)), url("./image/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 786px;

}
.headerContent {
    color: white;
    text-align: center;
    display: grid;
    gap: 20px;
    padding: 90px 24px 80px;
}

.headLine {
    color: #ffffff;
    font-size: 80px;
}
.headLine em {
    font-style: italic;
    font-weight: 700;
}

.subText {
    color: #ffffff;
    font-size: 22px;
}
.headerContent button {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
    width: 282px;
    height: 80px;
    margin-left: 45%;
    margin-top: 18%;
    padding: 12px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* main section */
.section {
    background-color: #ffffff;
    max-width: 1440px;
    height: 1279px;
    margin: 0 auto;
    padding: 60px 24px;
}

.title {
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 40px;
}

.cardSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.card {
    border-radius: 20px;
    border: 1px solid #E5E7EB;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 324px;
    object-fit: cover;
    display: block;
}
.cardContent {
    width: 642px;
    height: 131px;
    background-color: #FFFFFF;
    padding: 24px 24px;
}
.cardContent span {
    color: #2563EB;
    font-size: 14px;
}
.name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 8px;
}
.profession {
    color: #575757;
    font-size: 15px;
    margin-top: 8px;
}
/* section2 */
.section2 {
    max-width: 1551px;
    height: 718px;
    margin: 0 auto;
    text-align: center;
}

.heading {
    font-size: 48px;
    font-weight: bold;
    color: #0D1B2A;
}
.headingP {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 48px;
    color: #575757;
}
.mainCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    text-align: left;
    align-items: start;
}

.commonCard {
    background-color: #ffffff;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 32px 28px;
}
.firstItem {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #6B7280;
}

.commonCard h1 {
    font-size: 40px;
    font-weight: 800;
    color: #0D1B2A;
    margin-top: 8px;
}

.secondItem {
    font-size: 13px;
    color: #888888;
    margin-bottom: 20px;
}

hr {
    border: none;
    border-top: 1px solid #E5E7EB;
    margin-bottom: 20px;
}

.listStart {
    list-style: none;
    margin-bottom: 28px;
}

.listStart li {
    position: relative;
    padding-left: 18px;
    margin-bottom: 12px;
    font-size: 14px;
    color: #333333;
}

.listStart li::before {
    content: ".";
    color: #2563EB;
    position: absolute;
    left: 0;
    font-size: 25px;
    line-height: 1.5px;
}

.specialCard{
    background-color: #0D1B2A;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 42px 28px;
}

.specialCard .firstItem {
    color: #93C5FD;
}
.specialCard h1 {
    color: #ffffff;
}

.specialCard hr {
    border-top: 1px solid #888888;
}

.specialCard .listStart li {
    color: #E5E7EB;
}

.btn {
    width: 100%;
    padding: 12px 0;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}
.btn1 {
    font-size: 14px;
    font-weight: 600;
    color: #1D4ED8;
    background-color: white;
    width: 100%;
    padding: 12px 0;
    border: 1px solid #1D4ED8;
    border-radius: 8px;
    cursor: pointer;
}

.btn3 {
    font-size: 14px;
    font-weight: 600;
    color: #0D1B2A;
    background-color: white;
    width: 100%;
    padding: 12px 0;
    border: 1px solid #0D1B2A;
    border-radius: 8px;
    cursor: pointer;
}